@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}

nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: color,transform 0.6s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.6s linear;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: color 0.6s linear;
  }
  .social-icons a:hover {
    color: hsl(205, 90%, 76%);
  }
}
