@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(205, 86%, 17%);
  line-height: 1.5;
  font-size: 0.875rem;
}

@media screen and (min-width:800px) {
  body{
    font-size: 1rem;
  }
}

.sidebar-toggle{
  position: fixed;
  top:2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar-toggle:hover {
  color: hsl(205, 90%, 76%);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  cursor: pointer;
  color: hsl(360, 67%, 44%);
}
.close-btn:hover {
  color: hsl(360, 71%, 66%);
  transform: rotate(360deg);
}
.logo {
  justify-self: center;
  height: 40px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.links a{
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: hsl(210, 22%, 49%);
  transition: all .3s linear;
}

.links a:hover{
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.75rem;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: hsl(205, 78%, 60%);
  transition: all .3s linear;
}

.social-icons a:hover {
  color: hsl(205, 86%, 17%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: hsl(360, 67%, 44%);
  transition: all .3s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
