@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 3rem;
}

@media screen and (min-width:800px) {
  h1{
    font-size: 4rem;
    line-height: 1;
  }
  body{
    font-size: 1rem;
  }
}

header{
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

h1{
  color:#fff;
}

.switch-btn{
  position: absolute;
  bottom: 7%;
  left:7%;
  width:7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}

.switch-btn span{
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #49a6e9
}

.switch{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49a6e9;
  border-radius: 0.5rem;
  margin:0;
  display: block;
  transition: all 0.3s linear;
}

.slide .switch {
  left: 50%;
}

/* header after */
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 99;
  transition: all 0.3s linear;
}

.hide-preloader{
  z-index: -99;
  visibility: hidden;
}






















/* comment */
