@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul{
  list-style-type: none;
}

img{
  width:100%;
}
img{
  display: block;
}

h2,h4{
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

h2{
  font-size: 3rem;
}

h4{
  font-size: 2rem;
}

p{
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

li{
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1;
  }
  h4 {
    font-size: 1rem;
    line-height: 1;
  }
  body {
    font-size: 1rem;
  }
}

.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.title{
  text-align: center;
  margin-bottom: 4rem;
}

.title p{
  width:80%;
  margin: 0 auto;
}

.about-img{
  margin:2rem;
}

.about-img img{
  border-radius: 0.5rem;
  object-fit:cover;
  height: 20rem;
}

@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.about{
  background: #fff;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
}

.btn-container {
  border-top-left-radius: 0.5rem;;
  border-top-right-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: hsl(212, 33%, 89%);;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
  outline: none;
}
.tab-btn:hover:not(.active) {
  background: ;hsl(210, 36%, 96%)
  color: #49a6e9;
}

.about-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: #fff;
}
.content.active {
  display: block;
}




























/* comment */
