@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: .875rem;
}

h2 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h2 {
  font-size: 2rem;
}

@media screen and (min-width:800px) {
h2{
  font-size: 2.5rem;
  line-height: 1;
}
body{
  font-size: 1rem;
}
}

.section-center{
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width:992px) {
  .section-center{
    width:95vw;
  }
}


.title{
  margin-top: 15vh;
  margin-bottom: 4rem;
}

.title h2{
  color: #c59d5f;
  font-family: "Great vibes",cursive;
  text-align: center;
}

.section-center{
  max-width: 620px;
}

.question{
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0;
  margin-bottom: 2rem;
}

.question-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p{
  margin-bottom: 0;
  letter-spacing: 0.09rem;;
  color: hsl(209, 61%, 16%);
}
.question-btn{
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #c59d5f;
  transition: all 0.3s linear;
  outline: none;
}

.question-btn:hover{
  transform: rotate(90deg);
}

.question-text{
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid
  rgba(0, 0, 0, 0.2);
}

.question-text p{
  margin-bottom: 0;
}
.question-text{
  display: none;
}

.show-text .question-text{
  display: block;
}
.minus-icon{
  display: none;
}

.show-text .minus-icon{
  display: inline;
}

.show-text .plus-icon{
  display: none;
}
